@model Lab2_MVC_Sosa.Models.ClsBisiesto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visualizar</title>
</head>
<body>
    <div> 
        <h1>Años Bisiesto y No Bisiestos</h1>
        <br /><br />
        @{ 
            Model.bisiesto = "";
            Model.nobisiesto = "";
            Model.resultado = "";

            for(int i = Model.inicio; i<=Model.termino; i++)
            {
                Model.todo += i + ", ";
                if (i % 400 == 0)
                {
                    Model.bisiesto = Model.bisiesto + i + "\n";
                }
                else if(i % 400 == 0 && i%100 != 0)
                {
                    Model.bisiesto = i + "\n";
                }
                else
                {
                    Model.nobisiesto += i + "\n";
                }
            }

            if (Request["Anio"] == "Bisiestos")//Obtener informacion de RadioButton
            {
                Model.resultado = Model.bisiesto;
            }
            if (Request["Anio"] == "No Bisiestos")//Obtener informacion de RadioButton
            {
                Model.resultado = Model.nobisiesto;
            }
            if (Request["Anio"] == "Ambos")//Obtener informacion de RadioButton
            {
                Model.resultado = Model.todo;
            }
        }

        <h2><strong>@Request["Anio"]</strong></h2>
        <div>
            <strong>@Model.resultado</strong>
        </div>

        <a href="javascript:history.back()"> << Retornar al formulario</a>
    </div>
</body>
</html>
