@model Lab2_MVC_Sosa.Models.ClsBillete
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Visualizar", "Billete", FormMethod.Post))
        {
            <div>
                @*Html.LabelFor(model => model.inicio, "Año Inicial: ")*@
                @Html.LabelFor(model => model.monto, "Ingrese Monto: ")
                @Html.TextBoxFor(model => model.monto)
            </div>

            <br /> <br />
            <input type="submit" value="Calcular" />
            <br /> <br />

        }
    </div>
</body>
</html>
